<div class="nav-container">
  <section class="nav-content">
    <app-header ></app-header>
  </section>
  <section class="nav-content1">
    <app-header ></app-header>
  </section>
  <section class="nav-content2">
    <app-header ></app-header>
  </section>
</div>
